@import url('./mediaqueries/mediaquerie320px.css');
@import url('./mediaqueries/mediaquerie570px.css');
@import url('./mediaqueries/mediaquerie768px.css');
@import url('./mediaqueries/mediaquerie1020px.css');
@import url('./mediaqueries/mediaquerie1300px.css');

*{
  box-sizing: border-box;
}
:root{
  --bg-color: hsl(230, 17%, 14%);
  --bg-card: hsl(228, 28%, 20%);
  --text-color-white: hsl(0, 0%, 100%);
  --text-color-grey: hsl(228, 34%, 66%);
  --border-color-facebook: hsl(208, 92%, 53%);
  --border-color-twitter: hsl(203, 89%, 53%);
  --border-color-instagram: hsl(37, 97%, 70%);
  --border-color-instagram2: hsl(329, 70%, 58%);
  --border-color-youtube: hsl(348, 97%, 39%);
  --toggle-color-bg-1: hsl(210, 78%, 56%);
  --toggle-color-bg-2: hsl(146, 68%, 55%);
  --statictis-up: hsl(163, 72%, 41%);
  --statictis-down: hsl(356, 69%, 56%);
}
/*--RESET--*/
*,*::before, *::after{
  box-sizing: border-box;
}
html{
  font-size: 14px;
}
body{
  font-family: 'Inter', sans-serif;
  padding: 25px;
}
h1,h2,i,p{
  margin-top: 0;
  margin-bottom: 0;
}
img{
  display: block;
}

