/*--HEADER--*/

@media screen and (min-width: 320px) {
  .header{
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }
  .nav{
    background-color: #fff;
  }
  .principal{
    color: rgb(82, 81, 81);
    border: 1px solid rgba(206, 203, 203, 0.799);
    margin-top: 6px;
    padding: .9rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 40px;
  }
  h1{
    margin-bottom: 5px;
  }
  .principal__public>h1{
    margin-left: 2.5em;
  }
  .principal__seguidores>h1{
    margin-left: 1.6em;
  }
  .principal__seguido>h1{
    margin-left: 1.3em;
  }
  .iconos{
    background-color: #fff;
    border: 1px solid rgb(206, 203, 203, 0.799);
    position: absolute;
    top: 3rem;
    right: 0;
    left: 0;
    padding: .5rem;
    font-size: 17px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
  }
  .nav2{
    display: none;
  }
  .img9{
    visibility: hidden;
  }
  .img10,.img11,.img12,.img13,.img14,.img15,.img16{
    display: none;
  }
  .imagenes{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(1fr);
    justify-content: center;
    align-items: center;
  }
  .img-one_piece{
    width: 15rem;
    height: 25rem;
    margin-bottom: .7em;
    padding: 0.3em;
    background-color: rgba(73, 118, 129, 0.492);
    border-radius: 1.6rem 1.6rem 1.6rem 1.6rem;
    box-shadow: .1px .1px 15px .1px rgba(200, 198, 198, 0.656);
  }
}